.card {
 font-family: Calibri;
 font-size: 25px;
 text-align: center;
 color: white;
 background-color: #151515;
}

img {
 width: auto;
 height: auto;
 max-height: 300px;
}

.typeGood { background: green; }
.typeBad { background: blue; }
.typeMissed { background: red; }
#typeans { font-family: Calibri; !important;}

b{color:rgb(130,192,255)}
